.episodeScroller{
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        transition: .2s;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #44444466;
    }
}

.episode{
    max-width: 45rem;
    padding: 3rem 2rem;
    margin: 0 auto;

    .thumbnailContainer{
        position: relative; 

        > div {
            box-shadow: 0 0 2px var(--secondary);
            border-radius: 1rem;
        }

        button{
            width: 3rem;
            height: 3rem;
            border-radius: 0.75rem;
            border: none;
            position: absolute;
            z-index: 5;
            transition: .2s;
            font-size: 0;

            &:first-child {
                left: 0;
                top: 50%;
                background-color: var(--secondary);
                transform: translate(-50%, -50%);
            }

            &:last-child {
                right: 0;
                top: 50%;
                background-color: var(--active);
                transform: translate(50%, -50%);
            }

            &:hover{
                filter: brightness(.95)
            }
        }
    }

    header {
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--border);

        h1 {
            margin-top: 2rem;
            margin-bottom: 1.5rem;
        }

        span {
            display: inline-block;
            font-size: 0.875rem;

            & + span {
                margin-left: 1rem;
                padding-left: 1rem;
                position: relative;

                &::before{
                    content: "";
                    width: 4px;
                    height: 4px;
                    border-radius: 2px;
                    background: #ddd;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .description {
        margin-top: 2rem;
        line-height: 1.675rem;
        color: var(--text);

        p{
            margin: 1.5rem 0;
        }
    }
}